<header class="header">
    <div>

        <div class="header__imgwrap">
            <img class="header__img" src="/static/images/cloud_logo.png" alt="cloudy logo" />
        </div>
    </div>
</header>