.section {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__box-1 {
    @media only screen and (max-width: 425px) {
      flex-direction: column;
    }
  }
}
