:root {
  --cl-font: #333;
  --cl-blue: skyblue;
  --font-text: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: initial;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 48em) {
  html {
    box-sizing: border-box;
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 26.563em) {
  html {
    box-sizing: border-box;
    font-size: 50%;
  }
}

body {
  font-family: var(--font-text), -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--cl-font);
}

.container {
  display: flex;
  max-width: 117rem;
  margin: 0 auto;
  min-height: calc(100vh - 10rem);
}

.header {
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 5rem;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.267);
}

.header > div {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 117rem;
  margin: 0 auto;
}

.header__imgwrap {
  width: 5rem;
  height: 5rem;
}

.header__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 5rem;
  background-color: #fff;
  box-shadow: -0.2rem -0.2rem 0.6rem rgba(0, 0, 0, 0.267);
}

.footer div {
  flex: 1;
  text-align: center;
  max-width: 117rem;
  margin: 0 auto;

  font-size: 1.4rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.links-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link,
.link:link,
.link:visited {
  font-size: 2rem;
  text-decoration: none;
  color: var(--cl-font);
  transition: color 0.3s;
  margin-bottom: 1rem;
}

.link:hover,
.link:active {
  color: var(--cl-blue);
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.notfound-image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound-image-wrapper {
  max-width: 80rem;
}

.notfound-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
