.weatherSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &__title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2em;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 40rem;

    @media only screen and (max-width: 425px) {
      width: 100%;
    }
  }

  &__input {
    margin-bottom: 2rem;
    border: none;
    outline: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    color: black;

    border: 1px solid black;
    padding: 1rem;
  }

  &__button {
    cursor: pointer;
    border: none;
    outline: none;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;

    border: 0.1px solid black;
    background-color: white;

    padding: 1rem;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &__imgwrap {
    width: 8rem;
    height: 8rem;
    margin-bottom: 6rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  &__link {
    margin-top: 5rem;
  }

  &__data {
    font-size: 2.2rem;
    text-align: center;
  }

  &__error {
    font-size: 2.2rem;
    text-align: center;
  }
}
