/*

.helpSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &__title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2em;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

*/
